certifi==2019.6.16
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-WTF==0.14.2
gunicorn==19.9.0
html5lib==1.0.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
mpmath==1.1.0
numpy==1.16.4
pandas==0.25.0
pdfkit==0.6.1
Pillow==5.4.1
PyPDF2==1.26.0
python-dateutil==2.8.0
python-pdf==0.36
pytz==2019.1
reportlab==3.5.13
requests==2.22.0
scipy==1.3.1
six==1.12.0
sympy==1.3
urllib3==1.25.3
webencodings==0.5.1
Werkzeug==0.14.1
